body {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.miao {
  position: absolute;
  width: 480px;
  height: 480px;
  text-align: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 260px auto;
  background-image: url(../miao.jpg);
  background-position: 0 0;
  clip-path: circle(40%);
}

.number {
  position: absolute;
  width: 400px;
  height: 400px;
  text-align: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 300px auto;
}

.number span {
  position: absolute;
  font-size: 22px;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: purple;
}

.number span:nth-child(1) {
  transform: rotate(-60deg) translate(200px) rotate(60deg);
}

.number span:nth-child(2) {
  transform: rotate(-30deg) translate(200px) rotate(30deg);
}

.number span:nth-child(3) {
  transform: rotate(0deg) translate(200px) rotate(0deg);
}

.number span:nth-child(4) {
  transform: rotate(30deg) translate(200px) rotate(-30deg);
}

.number span:nth-child(5) {
  transform: rotate(60deg) translate(200px) rotate(-60deg);
}

.number span:nth-child(6) {
  transform: rotate(90deg) translate(200px) rotate(-90deg);
}

.number span:nth-child(7) {
  transform: rotate(120deg) translate(200px) rotate(-120deg);
}

.number span:nth-child(8) {
  transform: rotate(150deg) translate(200px) rotate(-150deg);
}

.number span:nth-child(9) {
  transform: rotate(180deg) translate(200px) rotate(-180deg);
}

.number span:nth-child(10) {
  transform: rotate(210deg) translate(200px) rotate(-210deg);
}

.number span:nth-child(11) {
  transform: rotate(240deg) translate(200px) rotate(-240deg);
}

.number span:nth-child(12) {
  transform: rotate(270deg) translate(200px) rotate(-270deg);
}

.kedu {
  position: absolute;
  width: 480px;
  height: 480px;
  text-align: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 260px auto;
}

.kedu em {
  box-shadow: inset 0 0 1px #211a10;
  position: absolute;
  width: 480px;
  height: 480px;
  left: 0;
  right: 0;
  margin: auto;
}

.kedu em::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  margin: auto;
  width: 3px;
  height: 10px;
  border-radius: 20px;
  background-color: #211a10;
}

.kedu em:nth-child(5n)::before {
  width: 5px;
  height: 20px;
}

em:nth-child(1) {
  transform: rotate(6deg);
}

em:nth-child(2) {
  transform: rotate(12deg);
}

em:nth-child(3) {
  transform: rotate(18deg);
}

em:nth-child(4) {
  transform: rotate(24deg);
}

em:nth-child(5) {
  transform: rotate(30deg);
}

em:nth-child(6) {
  transform: rotate(36deg);
}

em:nth-child(7) {
  transform: rotate(42deg);
}

em:nth-child(8) {
  transform: rotate(48deg);
}

em:nth-child(9) {
  transform: rotate(54deg);
}

em:nth-child(10) {
  transform: rotate(60deg);
}

em:nth-child(11) {
  transform: rotate(66deg);
}

em:nth-child(12) {
  transform: rotate(72deg);
}

em:nth-child(13) {
  transform: rotate(78deg);
}

em:nth-child(14) {
  transform: rotate(84deg);
}

em:nth-child(15) {
  transform: rotate(90deg);
}

em:nth-child(16) {
  transform: rotate(96deg);
}

em:nth-child(17) {
  transform: rotate(102deg);
}

em:nth-child(18) {
  transform: rotate(108deg);
}

em:nth-child(19) {
  transform: rotate(114deg);
}

em:nth-child(20) {
  transform: rotate(120deg);
}

em:nth-child(21) {
  transform: rotate(126deg);
}

em:nth-child(22) {
  transform: rotate(132deg);
}

em:nth-child(23) {
  transform: rotate(138deg);
}

em:nth-child(24) {
  transform: rotate(144deg);
}

em:nth-child(25) {
  transform: rotate(150deg);
}

em:nth-child(26) {
  transform: rotate(156deg);
}

em:nth-child(27) {
  transform: rotate(162deg);
}

em:nth-child(28) {
  transform: rotate(168deg);
}

em:nth-child(29) {
  transform: rotate(174deg);
}

em:nth-child(30) {
  transform: rotate(180deg);
}

em:nth-child(31) {
  transform: rotate(186deg);
}

em:nth-child(32) {
  transform: rotate(192deg);
}

em:nth-child(33) {
  transform: rotate(198deg);
}

em:nth-child(34) {
  transform: rotate(204deg);
}

em:nth-child(35) {
  transform: rotate(210deg);
}

em:nth-child(36) {
  transform: rotate(216deg);
}

em:nth-child(37) {
  transform: rotate(222deg);
}

em:nth-child(38) {
  transform: rotate(228deg);
}

em:nth-child(39) {
  transform: rotate(234deg);
}

em:nth-child(40) {
  transform: rotate(240deg);
}

em:nth-child(41) {
  transform: rotate(246deg);
}

em:nth-child(42) {
  transform: rotate(252deg);
}

em:nth-child(43) {
  transform: rotate(258deg);
}

em:nth-child(44) {
  transform: rotate(264deg);
}

em:nth-child(45) {
  transform: rotate(270deg);
}

em:nth-child(46) {
  transform: rotate(276deg);
}

em:nth-child(47) {
  transform: rotate(282deg);
}

em:nth-child(48) {
  transform: rotate(288deg);
}

em:nth-child(49) {
  transform: rotate(294deg);
}

em:nth-child(50) {
  transform: rotate(300deg);
}

em:nth-child(51) {
  transform: rotate(306deg);
}

em:nth-child(52) {
  transform: rotate(312deg);
}

em:nth-child(53) {
  transform: rotate(318deg);
}

em:nth-child(54) {
  transform: rotate(324deg);
}

em:nth-child(55) {
  transform: rotate(330deg);
}

em:nth-child(56) {
  transform: rotate(336deg);
}

em:nth-child(57) {
  transform: rotate(342deg);
}

em:nth-child(58) {
  transform: rotate(348deg);
}

em:nth-child(59) {
  transform: rotate(354deg);
}

em:nth-child(60) {
  transform: rotate(360deg);
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hour {
  position: absolute;
  left: 0;
  right: 0;
  top: 350px;
  margin: auto;
  width: 8px;
  height: 150px;
  border-radius: 20px;
  transform-origin: center bottom;
  animation: rotating 21600s steps(60) infinite;
  background-image: url(../miao.jpg);
  background-position: 300px 300px;
}

.minute {
  position: absolute;
  left: 0;
  right: 0;
  top: 330px;
  margin: auto;
  width: 6px;
  height: 170px;
  border-radius: 20px;
  transform-origin: center bottom;
  animation: rotating 3600s steps(60) infinite;
  background-image: url(../miao.jpg);
  background-position: 200px 200px;
}

.second {
  position: absolute;
  left: 0;
  right: 0;
  top: 310px;
  margin: auto;
  width: 4px;
  height: 190px;
  border-radius: 20px;
  background-color: orange;
  transform-origin: center bottom;
  animation: rotating 60s steps(60) infinite;
  background-image: url(../miao.jpg);
  background-position: 230px 130px;
}
