.middle-banner-1 {
  width: 1226px;
  height: 120px;
  background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/e99b88a8a39fbbd55177aea30e640557.jpg?thumb=1&w=1226&h=120&f=webp&q=90);
  background-repeat: no-repeat;
  margin: 20px auto;
}

.mobile {
  width: 1226px;
  height: 672px;
}

.mobile .topline-1 {
  height: 58px;
  width: 1226px;
}

.mobile .topline-1 .one {
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
}

.mobile .topline-1 .two {
  float: right;
  font-size: 16px;
  line-height: 58px;
}

.mobile .topline-1 .two:hover {
  color: #ff6700;
}

.mobile .topline-1 .two:hover em {
  background-color: #ff6700;
}

.mobile .topline-1 .two em {
  position: relative;
  margin-left: 8px;
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #b0b0b0;
}

.mobile .topline-1 .two em::after {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  margin-left: -2px;
  color: #fff;
  content: "\e920";
  font-family: "icomoon";
}

.mobile .mobile-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 1226px;
  height: 614px;
}

.mobile .mobile-container li {
  width: 234px;
  height: 300px;
  background-color: #fff;
  text-align: center;
  transition: 1s;
}

.mobile .mobile-container li:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 5px #aaa;
}

.mobile .mobile-container li img {
  margin: 0 17px;
  width: 160px;
  height: 160px;
}

.mobile .mobile-container li h3 {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin: 5px 10px 10px;
}

.mobile .mobile-container li p {
  font-size: 12px;
  color: #b0b0b0;
  margin: 0 10px 10px;
}

.mobile .mobile-container li div {
  font-size: 16px;
  color: #ff6700;
}

.mobile .mobile-container li:first-child {
  width: 234px;
  height: 614px;
  background-color: red;
}

.mobile .mobile-container li:first-child img {
  width: 234px;
  height: 614px;
  margin: 0;
}

.middle-banner-2 {
  margin: 30px auto;
}

.appliance {
  position: relative;
  width: 1226px;
  height: 672px;
}

.appliance .one {
  float: left;
  height: 58px;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
}

.appliance .fixed-item {
  position: absolute;
  top: 58px;
}

.appliance .fixed-item li {
  height: 300px;
  width: 234px;
}

.appliance .fixed-item li:first-child {
  margin-bottom: 14px;
}

.appliance .two {
  float: right;
  height: 45px;
  font-size: 16px;
  line-height: 58px;
}

.appliance .two:hover {
  color: #ff6700;
  border-bottom: 3px solid #ff6700;
}

.appliance .two:hover > .appliance-item-1 {
  visibility: visible;
  transition: none;
}

.appliance .two .appliance-item-1 {
  position: absolute;
  top: 58px;
  right: 0;
  float: left;
  height: 614px;
  width: 992px;
  visibility: 0;
  transition: visibility 0s 99999s;
}

.appliance .two .appliance-item-1 li {
  float: left;
  margin: 0 0 14px 14px;
  width: 234px;
  height: 300px;
  padding: 25px 0;
  text-align: center;
  background-color: #fff;
  transition: 1s;
}

.appliance .two .appliance-item-1 li:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 5px #aaa;
}

.appliance .two .appliance-item-1 li a {
  display: inline-block;
  width: 234px;
  height: 250px;
}

.appliance .two .appliance-item-1 li a img {
  margin: 0 17px;
  width: 160px;
  height: 160px;
}

.appliance .two .appliance-item-1 li a h3 {
  line-height: initial;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin: 0 10px 10px;
}

.appliance .two .appliance-item-1 li a p {
  line-height: initial;
  font-size: 12px;
  color: #b0b0b0;
  margin: 0 10px 10px;
}

.appliance .two .appliance-item-1 li a div {
  line-height: initial;
  font-size: 16px;
  color: #ff6700;
}

.appliance .two .appliance-item-1 li:nth-child(n+8) {
  width: 234px;
  height: 143px;
}

.appliance .two .appliance-item-1 li:nth-child(n+8) a {
  display: inline-block;
  height: 120px;
  width: 200px;
  text-align: initial;
}

.appliance .two .appliance-item-1 li:nth-child(n+8) a p {
  color: #333;
  font-size: 14px;
  width: 90px;
}

.appliance .two .appliance-item-1 li:nth-child(n+8) a p:nth-child(2) {
  color: #ff6700;
  font-size: 16px;
}

.appliance .two .appliance-item-1 li:nth-child(n+8) a img {
  float: right;
  margin: -80px 0 0;
  width: 80px;
  height: 80px;
}

.appliance .two .appliance-item-1 li:last-child {
  position: relative;
}

.appliance .two .appliance-item-1 li:last-child a {
  padding-top: 20px;
  width: 200px;
  height: 80px;
}

.appliance .two .appliance-item-1 li:last-child a .more {
  color: #333;
  font-size: 18px;
  width: 90px;
}

.appliance .two .appliance-item-1 li:last-child a #title {
  color: #757575;
  font-size: 12px;
}

.appliance .two .appliance-item-1 li:last-child a span {
  float: right;
  position: absolute;
  top: 32%;
  right: 40px;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  border: 5px solid #ff6700;
}

.appliance .two .appliance-item-1 li:last-child a::before {
  float: right;
  position: absolute;
  top: 30%;
  right: 50px;
  content: "\ea3c";
  font-family: "icomoon";
  font-size: 30px;
}

.appliance .three {
  float: right;
  line-height: 58px;
  height: 45px;
  font-size: 16px;
  margin-right: 16px;
}

.appliance .three:hover {
  color: #ff6700;
  border-bottom: 3px solid #ff6700;
}

.appliance .three:hover .appliance-item-2 {
  visibility: visible;
  transition: none;
}

.appliance .three .appliance-item-2 {
  position: absolute;
  top: 58px;
  right: 0;
  float: left;
  height: 614px;
  width: 992px;
  visibility: hidden;
  transition: visibility 0s;
}

.appliance .three .appliance-item-2 li {
  float: left;
  margin: 0 0 14px 14px;
  width: 234px;
  height: 300px;
  padding: 25px 0;
  text-align: center;
  background-color: #fff;
  transition: 1s;
}

.appliance .three .appliance-item-2 li:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 5px #aaa;
}

.appliance .three .appliance-item-2 li a {
  display: inline-block;
  width: 234px;
  height: 250px;
}

.appliance .three .appliance-item-2 li a img {
  margin: 0 17px;
  width: 160px;
  height: 160px;
}

.appliance .three .appliance-item-2 li a h3 {
  line-height: initial;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin: 0 10px 10px;
}

.appliance .three .appliance-item-2 li a p {
  line-height: initial;
  font-size: 12px;
  color: #b0b0b0;
  margin: 0 10px 10px;
}

.appliance .three .appliance-item-2 li a div {
  line-height: initial;
  font-size: 16px;
  color: #ff6700;
}

.appliance .three .appliance-item-2 li:nth-child(n+8) {
  width: 234px;
  height: 143px;
}

.appliance .three .appliance-item-2 li:nth-child(n+8) a {
  display: inline-block;
  height: 120px;
  width: 200px;
  text-align: initial;
}

.appliance .three .appliance-item-2 li:nth-child(n+8) a p {
  color: #333;
  font-size: 14px;
  width: 90px;
}

.appliance .three .appliance-item-2 li:nth-child(n+8) a p:nth-child(2) {
  color: #ff6700;
  font-size: 16px;
}

.appliance .three .appliance-item-2 li:nth-child(n+8) a img {
  float: right;
  margin: -80px 0 0;
  width: 80px;
  height: 80px;
}

.appliance .three .appliance-item-2 li:last-child {
  position: relative;
}

.appliance .three .appliance-item-2 li:last-child a {
  padding-top: 20px;
  width: 200px;
  height: 80px;
}

.appliance .three .appliance-item-2 li:last-child a .more {
  color: #333;
  font-size: 18px;
  width: 90px;
}

.appliance .three .appliance-item-2 li:last-child a #title {
  color: #757575;
  font-size: 12px;
}

.appliance .three .appliance-item-2 li:last-child a span {
  float: right;
  position: absolute;
  top: 32%;
  right: 40px;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  border: 5px solid #ff6700;
}

.appliance .three .appliance-item-2 li:last-child a::before {
  float: right;
  position: absolute;
  top: 30%;
  right: 50px;
  content: "\ea3c";
  font-family: "icomoon";
  font-size: 30px;
}
